### Individual household electric power consumption data    
**_Ripunjoy Gohain_**       
ripunjoygohain79@gmail.com

**Data Information:**     
1. date: Date in format dd/mm/yyyy    
2. time: time in format hh:mm:ss    
3. global_active_power: household global minute-averaged active power (in kilowatt)    
4. global_reactive_power: household global minute-averaged reactive power (in kilowatt)    
5. voltage: minute-averaged voltage (in volt)    
6. global_intensity: household global minute-averaged current intensity (in ampere)    
7. sub_metering_1: energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered).     
8. sub_metering_2: energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.    
9. sub_metering_3: energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.    

[click here to redirect to the url:](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)

In [1]:
import sys
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
pd.set_option('float_format', '{:4f}'.format)

In [2]:
print("Python Version: ", sys.version)
print("Pandas Version: ", pd.__version__)
print("Numpy Version: ", np.__version__)

Python Version:  3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]
Pandas Version:  0.23.3
Numpy Version:  1.16.4

In [3]:
# dataset is txt form, deliminated with ";", reading the dataset variables as string so setting the low_memory to false
df = pd.read_csv("./data/household_power_consumption.zip", compression="zip", sep=";", low_memory=False, header=0, 
                 infer_datetime_format=True, parse_dates={"local_time": [0, 1]}, index_col=["local_time"])

In [4]:
# converting the column headers to small letters
df.columns = [x.lower() for x in df.columns]
# missing values are represented as "?"
df.replace(to_replace="?", value=np.nan, inplace=True)
# convert all values to float32
df = df.astype(np.float32)

In [5]:
df.head(10)

,global_active_power,global_reactive_power,voltage,global_intensity,sub_metering_1,sub_metering_2,sub_metering_3
local_time,,,,,,,
2006-12-16 17:24:00,4.216000,0.418000,234.839996,18.400000,0.000000,1.000000,17.000000
2006-12-16 17:25:00,5.360000,0.436000,233.630005,23.000000,0.000000,1.000000,16.000000
2006-12-16 17:26:00,5.374000,0.498000,233.289993,23.000000,0.000000,2.000000,17.000000
2006-12-16 17:27:00,5.388000,0.502000,233.740005,23.000000,0.000000,1.000000,17.000000
2006-12-16 17:28:00,3.666000,0.528000,235.679993,15.800000,0.000000,1.000000,17.000000
2006-12-16 17:29:00,3.520000,0.522000,235.020004,15.000000,0.000000,2.000000,17.000000
2006-12-16 17:30:00,3.702000,0.520000,235.089996,15.800000,0.000000,1.000000,17.000000
2006-12-16 17:31:00,3.700000,0.520000,235.220001,15.800000,0.000000,1.000000,17.000000
2006-12-16 17:32:00,3.668000,0.510000,233.990005,15.800000,0.000000,1.000000,17.000000
2006-12-16 17:33:00,3.662000,0.510000,233.860001,15.800000,0.000000,2.000000,16.000000

In [6]:
print("Shape of the data frame: ", df.shape)

Shape of the data frame:  (2075259, 7)

In [7]:
print("Data start time: ", df.index.min())
print("Data end time: ", df.index.max())
print("Total time period: ", df.index.max()-df.index.min())

Data start time:  2006-12-16 17:24:00
Data end time:  2010-11-26 21:02:00
Total time period:  1441 days 03:38:00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
global_active_power      float32
global_reactive_power    float32
voltage                  float32
global_intensity         float32
sub_metering_1           float32
sub_metering_2           float32
sub_metering_3           float32
dtypes: float32(7)
memory usage: 71.2 MB

In [9]:
df.describe()

,global_active_power,global_reactive_power,voltage,global_intensity,sub_metering_1,sub_metering_2,sub_metering_3
count,2049280.000000,2049280.000000,2049280.000000,2049280.000000,2049280.000000,2049280.000000,2049280.000000
mean,1.091615,0.123714,240.839859,4.627760,1.121923,1.298520,6.458447
std,1.057294,0.112722,3.239987,4.444396,6.153031,5.822026,8.437154
min,0.076000,0.000000,223.199997,0.200000,0.000000,0.000000,0.000000
25%,0.308000,0.048000,238.990005,1.400000,0.000000,0.000000,0.000000
50%,0.602000,0.100000,241.009995,2.600000,0.000000,0.000000,1.000000
75%,1.528000,0.194000,242.889999,6.400000,0.000000,1.000000,17.000000
max,11.122000,1.390000,254.149994,48.400002,88.000000,80.000000,31.000000

In [10]:
# Missing value statistics
print("Column wise missing values: ")
df.isna().sum()

Column wise missing values:

global_active_power      25979
global_reactive_power    25979
voltage                  25979
global_intensity         25979
sub_metering_1           25979
sub_metering_2           25979
sub_metering_3           25979
dtype: int64

In [11]:
# If we drop row if all of the values are missing then remaining shape will be: Just calculating, not assigning to the dataframe
df.dropna(axis=0, how="all").shape

(2049280, 7)

In [12]:
# Let's check if this difference of dropping any is matching indidividual missing value count or not
df.shape[0] - df.dropna(axis=0, how="any").shape[0]

25979

In [13]:
# From above, as it's matching we can say that, if there if one tag is missing, then all other tags are missing, missing value
# is not may not from some specific sensor but feels like communication errot
print("Missing values percentage: {:.2f} %".format((df.shape[0] - df.dropna(axis=0, how="any").shape[0]) * 100 / df.shape[0]))

Missing values percentage: 1.25 %

In [14]:
# let's check if missing values are from random timestamps or it occurs for longer time interval
missing_stat = df.dropna().index.to_series().diff().dropna().dt.total_seconds().div(60)

In [15]:
# Here actually we are calculating time difference, so diff 1 minutes means no missing value
# 2 means, 1 missing value before some particular time stamp, slly 10 means 9 missing values before that particular time
missing_stat.describe()

count   2049279.000000
mean          1.012677
std           7.624718
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max        7227.000000
Name: local_time, dtype: float64

In [16]:
print("Count of missing timestamps instances: ", missing_stat[missing_stat >= 2].shape)
missing_stat[missing_stat >= 2].sort_values(ascending=False).head(10)

Count of missing timestamps instances:  (71,)

local_time
2010-08-22 21:28:00   7227.000000
2010-09-28 19:13:00   5238.000000
2007-04-30 14:24:00   3724.000000
2009-06-15 07:35:00   3306.000000
2010-01-14 19:02:00   3130.000000
2010-03-21 13:39:00   2028.000000
2009-08-13 19:51:00    892.000000
2007-07-15 18:12:00     84.000000
2008-12-10 11:58:00     71.000000
2007-07-15 19:08:00     48.000000
Name: local_time, dtype: float64

In [17]:
missing_stat[missing_stat >= 2].plot(figsize=(10,5), title="Missing values time range");

In [18]:
print("Consecutive missing values can go upto: {:.2f} days".format((missing_stat.max() - 1) / (60*24)))

Consecutive missing values can go upto: 5.02 days

### Ways to fill missing values
1. When missing values are coming for few minutes (say 10, 20 minutes), Linearly interpolating the values will make sense as we don't expect very drastic change in over few minutes.
2. When it is in hours, we might need to look for previous few days that particular time as well as nearby times can come up with an strategy.
3. In our case it is going for days (5 days). It is little difficult to fill those values, anything can happen in those 5 days. Strategies can be followed such:
    1. Looks for that particular weekday and time in last 30-60 days and fill the values with aggregated values from lookup time horizon.
    2. As we have multiple years data, look for those particular date time over years (might not work much well, year to year this can change, when houshold buys new devices expectations are that consumptions will change).
4. We can't apply methods like filling missing values by looking on the other values and trying to fit some models (say knn, regression) here. Because when 1 parameter is missing, other parameters are also missing.

**Due to time constraints, I am not going to experiment with these methods. We need to create a fuzzy logic based on the period of missing values**
_To keep it simple, I will try to just fill the values by looking previous days same time power consumption. For longer time periods (like 5 days), It will just repeat for all the days. Basically the data will be filled up with last available time stamps data_

In [19]:
def fill_missing_values_simple(dataFrame):
    """
    Input: dataFrame
    Simple approach to fill missing values
    If today some value is missing, look for yesterdays same time data and fill it up with that
    Output: dataFrame
    """
    one_day_minutes = 60 * 24
    for row in range(dataFrame.values.shape[0]):
        for col in range(dataFrame.values.shape[1]):
            if np.isnan(dataFrame.values[row, col]):
                dataFrame.values[row, col] = dataFrame.values[row - one_day_minutes, col]
    return dataFrame

In [ ]:
df = fill_missing_values_simple(dataFrame=df)

In [ ]:
df.shape

In [ ]:
# Verify if missing values are being filled
df.isna().sum()

In [ ]:
df.head()

In [ ]:
[x for x in df.columns if "metering" in x]

In [ ]:
# global_active_power is in kw, sub metering is in wH
# We will get other part energy being consumed by converting global_active_power to energy and subtracting all other sub metering energy
df['sub_metering_other'] = (df.global_active_power * 1000 / 60) - (df[[x for x in df.columns if "metering" in x]].sum(axis=1))

In [ ]:
df.sub_metering_other.describe()

In [ ]:
df[df.sub_metering_other<0].shape

### Above observation is an interesting observation
We expected that global_active_power (converted to energy) should be equal or lesser than all 3 energy meters combined readings.
But here the negative values indicating that which is not true. And this is very unlikely. Though 1K records out of 2 million records is very less, we may be able to treat this as outliers or further extend the analysis to understand this. It may be because of fauly sensor readings.     
**For the time being, we will change this negative value to ZERO**     
_If time permits, we will try to understand this particular scenario in detail._

In [ ]:
df.loc[df.sub_metering_other<0, "sub_metering_other"] = 0

In [ ]:
df.describe()

In [ ]:
# Saving the dataframe for later use
df.to_csv("./data/cleaned_household_power_consumption.csv")